@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr;
    gap: 20px;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.nobackground {
    background-color: ;
}

tr:nth-child(odd) {
    background-color: gray;
}

h1 {
    color: green;
}

.footercolor {
    background-color: rgb(186, 206, 116);
    width: 100%;
    padding: 30px 0px 30px 30px;

}

.recipes {
    color: green;
}

a:link {
    text-decoration: none;
}

.main {
    text-decoration: none;
    background-color: rgb(235, 100, 66);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

main {
    background-color: ;
    padding: 26px;
    margin: 0px 0px 24px 0px;
}

footer {
    padding: 24px 0px 0px 24px;


    bottom: 200px;

}

img {
    height: 200px;
}

nav {
    border-bottom: rgb(0, 0, 0) 1px;
    padding: 16px;
}

a:hover {
    background-color: gold;
    text-decoration: none;
}
